* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #ffeae3;
     
}

#wrapper {
    background-color: #fcfdff;
    height: 100%;
    width: fit-content;
    margin: auto;
    display: grid;
    grid-auto-columns: 120px;
    grid-auto-rows: 120px;
    grid-gap: .25em;
}

header{
    background-color: #9fa2b2;
    height: 40px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

div {
    background-color: #c0ccb5;
    width: 120px;
    height: 120px;
}

#sidebar {
    background-color: #a9b2a1;
    width: 120px;
    height: 380px;
    grid-column-start: 4;
    grid-column-end: 5;
}

footer {
    background-color: #505810;
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 5;
}

#blok1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#blok2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#blok4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 1;
}

#blok5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

#blok6 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

#blok7 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

#blok8 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

#blok9 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}